/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/uploads/admins
/public/uploads/branches
/public/uploads/cases
/public/uploads/doctor
/public/uploads/patients
/public/uploads/settings
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
